.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.remove {
  position: absolute;
  right: 0;
}

.remove svg {
  width: 24px;
}

.imageCard {
  flex: 0 1 calc(33% - 1em);
  position: relative;
  padding: 4px;
  border: 2px solid #ece;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
